<!DOCTYPE html>

<html>
    <head>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react-dom.js"))'></script>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <title>Daily needs by Happiness</title>

    </head>

    <body>

        <div id = "content">
            <script type='text/javascript' src='@routes.Assets.versioned("javascripts/dn.js")'></script>

        </div>

    </body>

</html>
