<!DOCTYPE html>

<html>
    <head>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react-dom.js"))'></script>
        <title>Title</title>

    </head>
    <body>
        <h1 class="Appheader"> One stop destination for your daily needs !! </h1>
        <div id = "content">
            <script type='text/javascript' src='@routes.Assets.versioned("javascripts/helloreact.js")'></script>

        </div>

    </body>

</html>
